<h1>Trippy</h1>
<%= link_to image_tag("seattle.jpg", alt: "Rails logo") %>

<%= form_tag(trips_path, method: "get") do %>
  <%= label_tag("From") %>
  <%= text_field_tag(:start) %>

  <%= label_tag("Destination") %>
  <%= text_field_tag(:city) %>

  <%= label_tag("Budget") %>
  <%= text_field_tag(:budget) %>

  <%= label_tag("Duration") %>
  <%= text_field_tag(:duration) %>

  <%= button_tag "Submit" %>
<% end %>
