<!DOCTYPE html>
<html>

<body>
  <main class = "containier-fluid" align="left">
    <header>
      <h2>Your Trips</h2>
      <style>
      table, th, td {
          border: 1px solid black;
      }
      </style>
    </header>

    <h3>Cheap Trip</h3>
    <table>
      <tr>
        <th>Mode</th>
        <th>Start</th>
        <th>Destination</th>
        <th>Cost</th>
      </tr>
      <% @transportation_cheap.each do |t| %>
        <tr>
          <td><%= t.mode %></td>
          <td><%= t.start %></td>
          <td><%= t.dest %></td>
          <td><%= t.cost %></td>
        </tr>
      <% end %>
    </table>
    <br>

    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Cost</th>
      </tr>
      <% @hospitality_cheap.each do |hotel| %>
        <tr>
          <td><%= hotel.name %></td>
          <td><%= hotel.address %></td>
          <td><%= hotel.city %></td>
          <td><%= hotel.country %></td>
          <td><%= hotel.cost %></td>
        </tr>
      <% end %>
    </table>

    <br>
    <table>
      <tr>
        <th>Name</th>
        <th>Duration</th>
    		<th>Cost</th>
      </tr>
      <% @activities_cheap.each do |act| %>
        <tr>
          <td><%= act.activity_name %></td>
          <td><%= act.duration %></td>
          <td><%= act.cost %></td>
        </tr>
      <% end %>
    </table>

    <br>
    <h3>Luxury Trip</h3>

    <table>
      <tr>
        <th>Mode</th>
        <th>Start</th>
        <th>Destination</th>
        <th>Cost</th>
      </tr>
      <% @transportation_high.each do |t| %>
        <tr>
          <td><%= t.mode %></td>
          <td><%= t.start %></td>
          <td><%= t.dest %></td>
          <td><%= t.cost %></td>
        </tr>
      <% end %>
    </table>

    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Cost</th>
      </tr>
      <br>
      <% @hospitality_high.each do |hotel| %>
        <tr>
          <td><%= hotel.name %></td>
          <td><%= hotel.address %></td>
          <td><%= hotel.city %></td>
          <td><%= hotel.country %></td>
          <td><%= hotel.cost %></td>
        </tr>
      <% end %>
    </table>

    <table>
      <tr>
        <th>Name</th>
        <th>Duration</th>
    		<th>Cost</th>
      </tr>
      <br>
      <% @activities_high.each do |act| %>
        <tr>
          <td><%= act.activity_name %></td>
          <td><%= act.duration %></td>
          <td><%= act.cost %></td>
        </tr>
      <% end %>
    </table>

    <br>
    <h3> Affordable Trip</h3>
    <table>
      <tr>
        <th>Mode</th>
        <th>Start</th>
        <th>Destination</th>
        <th>Cost</th>
      </tr>
      <% @transportation_rand.each do |t| %>
        <tr>
          <td><%= t.mode %></td>
          <td><%= t.start %></td>
          <td><%= t.dest %></td>
          <td><%= t.cost %></td>
        </tr>
      <% end %>
    </table>

    <br>
    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>City</th>
        <th>Country</th>
        <th>Cost</th>
      </tr>
      <% @hospitality_rand.each do |hotel| %>
        <tr>
          <td><%= hotel.name %></td>
          <td><%= hotel.address %></td>
          <td><%= hotel.city %></td>
          <td><%= hotel.country %></td>
          <td><%= hotel.cost %></td>
        </tr>
      <% end %>
    </table>

    <br>
    <table>
      <tr>
        <th>Name</th>
        <th>Duration</th>
    		<th>Cost</th>
      </tr>
      <% @activities_rand.each do |act| %>
        <tr>
          <td><%= act.activity_name %></td>
          <td><%= act.duration %></td>
          <td><%= act.cost %></td>
        </tr>
      <% end %>
    </table>
    <br>
</main>
</body>
</html>
