<h1>Trippy</h1>

<body>
  <div id="main-container" class="container-fluid">

    <div class="row image">

      <%= link_to image_tag("seattle.jpg", alt: "Rails logo") %>
    </div>


    <%= form_for :article do |f| %>
      <p>
        <%= f.label :From %><br>
        <%= f.text_field :From %>
      </p>
      <p>
        <%= f.label :Destination %><br>
        <!-- <%= f.text_field :Destination %> -->
        <%= f.text_field :Destination, :value => "Seattle"%>
      </p>

      <p>
        <%= f.label :Budget %><br>
        <%= f.text_field :Budget %>
      </p>

      <p>
        <%= f.label :Duration %><br>
        <%= f.text_field :Duration %>
      </p>

      <p>
        <%= f.submit :Submit %>
      </p>
    <% end %>

  </div>

</body>
